$bold: "Roboto Bold";
$light: "Roboto Light";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $light;
  background: #343233;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

h1,
h2,
h3 {
  font-family: $bold;
  margin-top: 0px;
  margin-bottom: 8px;
}

h1 {
  font-size: 54px;
  color: #ffd152;
}

h2 {
  font-size: 42px;
  color: #8d8273;
}

h3 {
  font-size: 28px;
  color: #8d8273;
}

h4 {
  font-size: 20px;
  color: #8d8273;
  font-weight: 400;
  margin-bottom: 0;
}

p {
  margin: 20px 0;
  color: #8d8273;
  line-height: 24px;
}

img {
  margin: 20px 0;
  width: 100%;
}

button {
  outline: none;
  border: none;
  margin: 18px 0;
  padding: 20px 40px;
  background: #ffd152;
  font-family: $bold;
  color: #282627;
  text-transform: uppercase;
  cursor: pointer;
}

i {
  font-size: 42px;
  letter-spacing: 14px;
}

.menu {
  height: 60px;
  width: 100%;
  background-color: #343233;
  position: fixed;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline;
    }
  }
  a {
    display: inline-block;
    width: 100px;
    font-family: $bold;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: #8d8273;
    transition: 1s;
    &:hover {
      color: #6c6c6c;
    }
  }
}
#toggle-btn {
  display: none;
}

.hero {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  .container {
    margin-top: 34vh;
  }
  h2 {
    color: #8d8273;
  }
}

.overview {
  background: #282627;
  padding: 128px 0;
  &__content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}

.about {
  padding: 128px 0;
  h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 12px;
    margin-bottom: 2em;
  }
}

.features {
  background: #282627;
  padding: 128px 0;
  &__content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}

.download {
  h2 {
    color: #8d8273;
  }
  input {
    width: 80%;
    margin: 2em 0;
    background: none;
    border: 1px solid #8d8273;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    color: rgb(211, 165, 100);
    &:focus {
      border: none;
      outline: none;
      border: 2px solid #8d8273;
    }
    &::placeholder {
      color: #8d8273;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 16px 0;
  background: #282627;
  span {
    color: #8d8273;
    font-weight: 600;
  }
}
